body{
    background-color: rgb(15, 16, 16);
    color:aliceblue;
    
}
button{
    background: scroll;
    background-color: aliceblue;
}
button:hover{
    background-color: rgb(14, 15, 15);
    color: aliceblue;
}
div{
    border: 4px solid rgb(73, 55, 55);
    max-width: 310px;
    padding: 10px;
    margin:100px auto;

}
.todo{
    font-size: 80px;
    text-align: center;
}
